./packages/data_fabricator
./packages/refit 
gcsfs==2024.3.1
hdfs==2.7.3
ipython>=8.10
jupyterlab>=3.0
kedro-datasets>=3.0
kedro-telemetry>=0.3.1
kedro-viz>=6.7.0
kedro~=0.19.5
matplotlib
notebook
pyarrow>=14.0.2 
pyspark==3.5.1
pytest
s3fs
scikit-learn==1.4.0
scikit-optimize
xgboost
hdfs
graphdatascience
neo4j>=5.5.0
python-cypher==0.20.1
termplotlib
kedro-mlflow