ipython>=8.10
jupyterlab>=3.0
kedro~=0.19.5
kedro-datasets>=3.0
kedro-telemetry>=0.3.1
kedro-viz>=6.7.0
notebook
scikit-learn==1.4.0
gcsfs==2024.3.1
pyarrow>=14.0.2 
xgboost
scikit-optimize
matplotlib
pytest
./packages/refit 