replicaCount: 1

image:
  repository: ahueb1/bte-trapi
  pullPolicy: IfNotPresent
  tag: latest

env:
  - name: SENTRY_ENABLED
    value: "false"

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

service:
  type: NodePort
  port: 3000
  nodePort: 31300

ingress:
  enabled: false

resources:
  limits:
    cpu: "12"
    memory: "24Gi"
  requests:
    cpu: "12"
    memory: "24Gi"
