infra/secrets/** filter=git-crypt diff=git-crypt
infra/secrets/** filter=git-crypt diff=git-crypt
# the 'default' key is the one used for the dev environment (historically like this)
infra/secrets_dev/** filter=git-crypt diff=git-crypt
infra/secrets_prod/** filter=git-crypt-prod diff=git-crypt-prod


