[submodule "pipelines/matrix/packages"]
	path = pipelines/matrix/packages
	url = https://github.com/everycure-org/matrix-legacy-proprietary-packages.git
[submodule "infra/secrets"]
	path = infra/secrets
	url = https://github.com/everycure-org/secrets/
