# OS
*.DS_Store
.ruff_cache/
**/.testmondata*
**/.cache/*


# IDE
.vscode/
.idea/

# Drawio
*.bkp

# Data
data/
neo4j_db/
data.tar.gz

# python
**/.venv/
**/venv/

!.gitkeep

# terraform
**/.terraform/
**/.terragrunt-cache/
infra/**/*.zip
**/*.gen.tf

infra/argo/applications/**/charts

services/synonymizer/assets/

**/__pycache__/
infra/**/Chart.lock
**/.ipynb_checkpoints/

**/.joblib/**

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json

pipelines/matrix/src/matrix/pipelines/matrix_generation/matrix.code-workspace

# Artifact from the google-github-actions/get-gke-credentials@v1
# Having it would not allow us to trigger a release from GH Actions,
# since the repo would be in a dirty state.
gha-kubeconfig*
/backend.tf
**/*.gen.tf
/provider.tf

# libs and matrix_docs.egg-info
docs/src/matrix_docs.egg-info/
libs