# OS
*.DS_Store
.ruff_cache/
**/.testmondata*


# IDE
.vscode/
.idea/

# Drawio
*.bkp

# Data
data/
neo4j_db/

# python
**/.venv/
**/venv/

!.gitkeep

# terraform
**/.terraform/
**/.terragrunt-cache/

infra/argo/applications/**/charts

services/synonymizer/assets/
