---
title: {{ version }}
draft: false
date: {{ date }}
categories:
  - Release
authors:
  {%- for author in authors %}
  - {{ author }}
  {%- endfor %}
---
Please write the article following the categories below. The relevant PR numbers, covering changes from the selected last release (or the most recent minor release in headless mode) to the current release, are provided for each category:

### Breaking Changes 🛠
{%- for label, prs in label_to_pr %}
{%- if label == 'breaking change' %}
{%- for pr in prs %}
- {{ pr.title }} [#{{ pr.number }}]({{ pr.url }})
{%- endfor %}
{%- endif %}
{%- endfor %}
### Exciting New Features 🎉
{%- for label, prs in label_to_pr %}
{%- if label == 'Feature' %}
{%- for pr in prs %}
- {{ pr.title }} [#{{ pr.number }}]({{ pr.url }})
{%- endfor %}
{%- endif %}
{%- endfor %}
### Experiments 🧪
{%- for label, prs in label_to_pr %}
{%- if label == 'experiment report' %}
{%- for pr in prs %}
- {{ pr.title }} [#{{ pr.number }}]({{ pr.url }})
{%- endfor %}
{%- endif %}
{%- endfor %}
### Bugfixes 🐛
{%- for label, prs in label_to_pr %}
{%- if label in ['Bug', 'bug', 'Bugfix'] %}
{%- for pr in prs %}
- {{ pr.title }} [#{{ pr.number }}]({{ pr.url }})
{%- endfor %}
{%- endif %}
{%- endfor %}
### Technical Enhancements 🧰
{%- for label, prs in label_to_pr %}
{%- if label in ['enhancement', 'Simplification', 'infrastructure'] %}
{%- for pr in prs %}
- {{ pr.title }} [#{{ pr.number }}]({{ pr.url }})
{%- endfor %}
{%- endif %}
{%- endfor %}
### Documentation ✏️
{%- for label, prs in label_to_pr %}
{%- if label == 'documentation' %}
{%- for pr in prs %}
- {{ pr.title }} [#{{ pr.number }}]({{ pr.url }})
{%- endfor %}
{%- endif %}
{%- endfor %}
### Other Changes
{%- for label, prs in label_to_pr %}
{%- if label not in ['breaking change', 'Feature', 'experiment report','Bug', 'bug', 'Bugfix', 'enhancement', 'Simplification', 'infrastructure', 'documentation', 'onboarding', 'Release', 'hide-from-release'] %}
{%- for pr in prs %}
- {{ pr.title }} [#{{ pr.number }}]({{ pr.url }})
{%- endfor %}
{%- endif %}
{%- endfor %}
