Please provide a concise summary of the following code changes.
Focus on creating the content for the following release template following its categories:

```yaml
{{ release_template }}
```

Code diff:

```diff
{{ diff_output }}
```

PR details:

```yaml
{{ pr_details_dict }}
```

Please summarize the PRs only listed in the PR details section into the following categories, each category being a H2 header in markdown (##):
{% for category in categories %}
- ##{{ category }}
{% endfor %}
Format the output as markdown, with the category headers and the key contributions under each category.
