# https://artifacthub.io/packages/helm/bitnami/mlflow
mlflow:

  # Disable tracking server password
  tracking: 
    # we see issues when uploading large files and this is a recommended workaround
    # https://github.com/mlflow/mlflow/issues/6331
    command: [ "/bin/sh", "-c" ]
    args: 
      - >
        mlflow server
        --gunicorn-opts="-t 360"
        --host=0.0.0.0 --port=5000
        --no-serve-artifacts
        --backend-store-uri=postgresql://bn_mlflow:$(MLFLOW_DATABASE_PASSWORD)@mlflow-postgresql:5432/bitnami_mlflow
        --default-artifact-root gs://mtrx-us-central1-hub-dev-storage
    resourcesPreset: large
    service:
      type: ClusterIP
    auth:
      enabled: false
    # FUTURE: Setup GCS when supported
    # https://github.com/bitnami/charts/pull/28938

  # Use our own PGSQL Secret
  # https://github.com/bitnami/charts/issues/28893
  postgresql:
    auth:
      existingSecret: pgsql-creds

  minio:
    enabled: false
