kube-prometheus-stack:
  prometheus:
    prometheusSpec:
      storageSpec:
        volumeClaimTemplate:
          spec:
            # by default prometheus uses a local storage, which is not persistent
            storageClassName: standard
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 25Gi
      # add service monitors for argo-workflows which thus also get collected by prometheus
      additionalServiceMonitors:
        - name: argo-workflows
          selector:
            matchLabels:
              app.kubernetes.io/name: argo-workflows-server
          namespaceSelector:
            matchNames:
              - argo-workflows 
          endpoints:
            - port: metrics
              path: /metrics
        - name: argo-workflows-controller
          selector:
            matchLabels:
              app.kubernetes.io/name: argo-workflows-workflow-controller
          namespaceSelector:
            matchNames:
              - argo-workflows  
          endpoints:
            - port: metrics
              path: /metrics
  grafana:
    sidecar:
      dashboards:
        enabled: true
      defaultFolderName: "General"
      label: grafana_dashboard
      labelValue: "1"
      folderAnnotation: grafana_folder
      searchNamespace: ALL
      provider:
        foldersFromFilesStructure: true