{# <project_root>/templates/argo_spec.tmpl #}
apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
spec:
  entrypoint: "pipeline"
  arguments:
    parameters:
      - name: neo4j_host
        value: "bolt+ssc://neo4j.neo4j.svc.cluster.local:7687"
      - name: mlflow_endpoint
        value: "http://mlflow-tracking.mlflow.svc.cluster.local:80"
      - name: openai_endpoint
        value: "https://api.openai.com/v1"
  templates:

  - name: pipeline
    dag:
      tasks:
      {% for task in pipeline_tasks %}
      - name: {{ task.name }}
        template: {{ task.get('template', 'kedro') }}
        {% if task.deps %}
        dependencies:
        {% for dep in task.deps %}
          - {{ dep }}
        {% endfor %}
        {% endif %}
        arguments:
          parameters:
          - name: pipeline
            value: {{ pipeline_name }}
          - name: kedro_nodes
            value: {{ task.nodes }}
          - name: num_gpus
            value: {{ task.resources.num_gpus }}
          - name: memory_request
            value: {{ task.resources.memory_request }}
          - name: memory_limit
            value: {{ task.resources.memory_limit }}
          - name: cpu_request
            value: {{ task.resources.cpu_request }}
          - name: cpu_limit
            value: {{ task.resources.cpu_limit }}
          - name: ephemeral_storage_request
            value: {{ task.resources.ephemeral_storage_request }}
          - name: ephemeral_storage_limit
            value: {{ task.resources.ephemeral_storage_limit }}

      {% endfor %}
