site_name: EC Tech Docs
site_url: https://docs.app.everycure.org

# configuration for edit button in web interface
repo_url: https://github.com/everycure-org/matrix/
edit_uri: edit/main/docs/src
docs_dir: src/
theme:
  name: material

  features:
    - content.action.edit
    - content.code.copy
    - content.tabs.link
    - navigation.expand
    - navigation.indexes
    # - navigation.instant
    - navigation.sections
    - navigation.tabs
    - navigation.path
    - navigation.tracking
    - toc.follow
    # - toc.integrate
  icon:
    annotation: material/plus-circle

plugins:
  - drawio
  - mkdocs-jupyter
  - awesome-pages
  - search
  # - table-reader
  #- git-authors:
  #   exclude:
  #     - "releases/**"

  - git-committers:
      repository: everycure-org/matrix
      branch: main
      docs_path: docs/src/
  - git-revision-date-localized:
      enable_creation_date: true
      fallback_to_build_date: true
  # we use the blog plugin to generate the releases page
  - blog:
     blog_dir: releases
     categories: false
      

 

markdown_extensions:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - md_in_html
  - admonition
  - footnotes
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - toc:
      toc_depth: 4
