mkdocs-material~=9.0
mkdocs-material-extensions
pymdown-extensions
mkdocs-glightbox
mkdocs-git-revision-date-localized-plugin
mkdocs-awesome-pages-plugin
mkdocs-table-reader-plugin
mkdocs-blogging-plugin
mkdocs-simple-hooks
mkdocs-jupyter
openpyxl
jupyter
pyyaml
mkdocs-drawio
# TODO, not currently used but would be nice
# pinned due to https://github.com/ojacques/mkdocs-git-committers-plugin-2/issues/72
mkdocs-git-committers-plugin-2<2.4.0
# alternative to above, just takes names from git, not github profiles
mkdocs-git-authors-plugin
pytest
semver