name: MoA CI pipline

on:
    pull_request_review:
      types: [submitted]
    pull_request:
      # Sequence of patterns matched against refs/heads
      branches:
        - main
      types:
        - opened
        - reopened
        - synchronize
        - ready_for_review
      paths: 
        - services/moa_visualizer/**
        - .github/workflows/moa-ci.yml
  
    push:
      branches:
        - main
      paths: 
        - services/moa_visualizer/**
        - .github/workflows/moa-ci.yml


jobs:
  # leveraging a paths-filter approach to be able to make this run required for all PRs while still
  # not blocking merging with "Expected" for those runs that have a paths filter
  # FUTURE eventually github will likely fix this
  # https://github.com/orgs/community/discussions/26698
  paths_filter:
    if: github.event.pull_request.draft == false || github.ref == 'refs/heads/main'
    runs-on: 'ubuntu-latest'
    permissions: 
      pull-requests: read
      contents: 'read'
    outputs: 
      changed: ${{ steps.changes.outputs.src }}
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4
        with: 
          sparse-checkout: |
            pipelines/
            .github/
      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            src:
              - services/moa-visualizer/**
              - .github/workflows/moa-ci.yml

  ci:
    runs-on:  'self-hosted'
    needs: [paths_filter]
    if: needs.paths_filter.outputs.changed == 'true' && (github.event.pull_request.draft == false || github.ref == 'refs/heads/main') && github.event.review.state == 'approved'
    defaults:
      run:
        working-directory: ./services/moa_visualizer
    steps:
      - uses: actions/checkout@v4
        with: 
          sparse-checkout: |
            services/moa_visualizer/

      - run: make docker_build

  push_image:
      needs: [ci]
      if: github.ref == 'refs/heads/main' && github.event.review.state == 'approved'
      runs-on: 'self-hosted'
      environment: dev
      permissions: write-all
      defaults:
        run:
          working-directory: services/moa_visualizer/
  
      steps:
        - uses: 'google-github-actions/auth@v2'
          with:
            project_id: ${{vars.project_id}}
            workload_identity_provider: ${{vars.workload_identity_provider}}
            service_account: ${{vars.service_account}}
  
        - name: "Set up Cloud SDK"
          uses: "google-github-actions/setup-gcloud@v1"
  
        - name: "Docker auth"
          run: |-
            gcloud auth configure-docker ${{ vars.region }}-docker.pkg.dev --quiet
  
        - run: make docker_push