# This workflow is triggered by a pull_request merge event. We want to notify people if a PR is labeled as `breaking change` so that they don't wonder why suddenly main is broken

name: Notify Breaking Changes

on:
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: print github event
        run: echo "${{ toJson(github.event) }}"
      - name: Post to a Slack channel
        if: contains(github.event.pull_request.labels, 'breaking change') && github.event.pull_request.merged == 'true'
        id: slack
        uses: slackapi/slack-github-action@v1.26.0
        with:
          # Slack channel id, channel name, or user id to post message.
          # See also: https://api.slack.com/methods/chat.postMessage#channels
          # You can pass in multiple channels to post to by providing a comma-delimited list of channel IDs.
          channel-id: 'C07SJU0DBFA' #github-updates in matrix workspace
          # For posting a simple plain text message
          slack-message: |
            ⚠️ A breaking change was merged into main on PR 

            ## ${{ github.event.pull_request.title }}
            <${{ github.event.pull_request.html_url }}|#${{ github.event.pull_request.number }}>

            by `${{ github.event.pull_request.user.login }}`

            Please check the PR description for more details.
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN_MATRIX_WORKSPACE }}
