name: Pwal

on:
  workflow_dispatch: {}
  pull_request:
    # Sequence of patterns matched against refs/heads
    branches:
      - main
    # from https://github.com/reviewdog/action-eslint/issues/29#issuecomment-985939887
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
env:
  BRANCH_REF: ${{ github.event.pull_request.head.ref }}
  
jobs:
  trigger-deploy:
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - name: Trigger KG dashboard deploy
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'evidence-deploy.yml',
              ref: 'release/v0.4.2',
              inputs: {
                "release_version": 'v0.4.2' 
              }
            })